<div class="row">
    <div id="weather-tiles-a" class="col-md-4">{{{this.a}}}</div>
    <div id="weather-tiles-b" class="col-md-4">{{{this.b}}}</div>
    <div id="weather-tiles-c" class="col-md-4">{{{this.c}}}</div>
</div>