        <div class="row" id="profile-screen">
            <div id="location-list-container" class=" col-md-3">
                <div class="well row">
                    <div id="add-location" class="row">
                        <div class="input-group">
                            <input id="input-location" type="text" class="form-control" placeholder="Location">
                            <span class="input-group-btn">
                                <a class="btn btn-success" href="#/profile/add" role="button" type="button">Add</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul id="location-list" class="nav nav-pills nav-stacked">
                        
                    </ul>
                </div>
            </div>
            <div id="weather" class=" col-md-6">
                 <div class="container-fluid">  
                     <div class="row well">
                        <a id="one-day-forecast" href="#/profile" class="btn btn-default col-md-3">1 Day</a>
                        <a id="five-day-forecast" href="#/profile" class="btn btn-default col-md-3">5 Day</a>
                        <a id="fourteen-day-forecast" href="#/profile" class="btn btn-default col-md-3">14 Day</a>
                        <a id="twttr-share" class="twitter-share-button btn btn-primary col-md-3"
                            href="https://twitter.com/intent/tweet?text=Team%20Watchmen"
                            data-size="large">
                        Tweet</a>
                    </div>
                 </div>
                 <div id="weather-tiles"></div>
            </div>
            <div class=" col-md-3">
                <div class="row">
                    <div id="map-container">

                    </div>
                </div>
            </div>
        </div>