        <div class="row" id="profile-screen">
            <div id="location-list-container" class=" col-md-3">
                <div class="well row">
                    <div id="add-location" class="row">
                        <div class="input-group">
                            <input id="input-location" type="text" class="form-control" placeholder="Location">
                            <span class="input-group-btn">
                                <a class="btn btn-success" href="#/profile/add" role="button" type="button">Add</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul id="location-list" class="nav nav-pills nav-stacked">
                        
                    </ul>
                </div>
            </div>
            <div id="weather" class=" col-md-6">
                 
            </div>
            <div class=" col-md-3">
                <div class="row">
                    <div id="map-container">

                    </div>
                </div>
            </div>
        </div>