<div class="container-fluid">
        <div class="row">
            <div id="location-list-container" class=" col-md-3">
                <div class="well row">
                    <div id="add-location" class="row">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Add</span>
                            <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul id="location-list" class="nav nav-pills nav-stacked">
                        
                    </ul>
                </div>
            </div>
            <div id="weather" class=" col-md-9">
                 
            </div>
        </div>
    </div>