        <div class="row">
            <div id="location-list-container" class=" col-md-3">
                <div class="well row">
                    <div id="add-location" class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Location">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul id="location-list" class="nav nav-pills nav-stacked">
                        
                    </ul>
                </div>
            </div>
            <div id="weather" class=" col-md-9">
                 
            </div>
        </div>