<div class="container">
    <div class="row">
        <div class="container col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Registation</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label" >Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="new-username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="new-password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <a href="#/" class="btn btn-primary" id="btn-register">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>